svg {
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}
path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}
svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}
path.link.selected {
  stroke-dasharray: 10, 2;
}
path.link.dragline {
  pointer-events: none;
}
path.link.hidden {
  stroke-width: 0;
}
circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}
circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}
text {
  font: 12px sans-serif;
  pointer-events: none;
}
text.id {
  text-anchor: middle;
  font-weight: bold;
}




/*css Agregado de simpleGraphData*/
.link {
  stroke: #000;
  stroke-width: 1.5px;
}
.node {
  fill: #000;
  stroke: #fff;
  stroke-width: 1.5px;
}
.node.critico {
  fill: red;
}
.node.ratonMontado {
  fill: yellow;
}
.text.critico {
  fill: red;
}
.rectangulo.critico {
  fill: red;
  fill-opacity: 0.3
}
.rectangulo.ratonMontado {
  fill: yellow;
  fill-opacity: 0.3
}
